
.main-text{
    background-color: rgb(32, 32, 32);
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)),
        url(..//plantillafonndo.png);
    display: flex;
    justify-content: left;
    text-align: left;
    height: 500px;
    min-height: 300px;
    min-width: 300px;

}
p {
    font-size: 35px;
    color: #e9e9ea;
    margin: 15px;
    padding: 15px;
    width: 50%;
}

button {
    padding: 10px 20px;
    margin: 10px;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
button:hover{
    background-color: navy;
}
.comprarBtn {
    background-color: #000000;
    color: #fff;
}

.carritoBtn {
    background-color: #000000;
    color: #fff;
}